[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
opencv-contrib-python = "==4.2.0.32"
pygal = "*"
openpyxl = "*"
robobrowser = "*"
tweepy = "*"
face-recognition = "*"
pandas = "*"
pymongo = "*"

[requires]
python_version = "3.6"
